/* Tamaño de fuentes */
.font-header-1 {
    font-size: 39.81px;
}
.font-header-2 {
    font-size:  33.18px;
}
.font-header-3 {
    font-size: 27.65px;
}
.font-header-4 {
    font-size: 23.04px;
}
.font-body-1 {
    font-size: 20px;
}
.font-body-2 {
    font-size: 16px;
}
.font-body-3 {
    font-size: 13.33px;
}
.font-body-4 {
    font-size: 9.26px;
}


/* Tamaño de íconos */
.icon-size-1 {
    font-size: 50px;
}
.icon-size-2 {
    font-size: 24px;
}
.icon-size-3 {
    font-size: 16px;
}
.text-center {
    text-align: center;
}



/* Color de la fuente */
.font-color-blanco {
    color: var(--blanco);
}
.font-color-negro {
    color: var(--negro);
}
.font-color-gris-1 {
    color: var(--gris-1);
}
.font-color-gris-2 {
    color: var(--gris-2);
}
.font-color-gris-3 {
    color: var(--gris-3);
}
.font-color-verde {
    color: var(--verde);
}
.font-color-rojo {
    color: var(--rojo);
}
.font-color-celeste {
    color: var(--celeste);
}



/* Color del background */
.bg-color-blanco {
    background-color: var(--blanco);
}
.bg-color-negro {
    background-color: var(--negro);
}
.bg-color-gris-1 {
    background-color: var(--gris-1);
}
.bg-color-gris-2 {
    background-color: var(--gris-2);
}
.bg-color-gris-3 {
    background-color: var(--gris-3);
}
.bg-color-gris-4 {
    background-color: var(--gris-4);
}
.bg-color-verde {
    background-color: var(--verde);
}
.bg-color-rojo {
    background-color: var(--rojo);
}
.bg-color-celeste {
    background-color: var(--celeste);
}



/* Tamaño de imágenes */
.img-size-1 {
    width: 101px;
}
.img-size-2 {
    width: 82px;
}
.img-size-3 {
    width: 77px;
}
.img-size-4 {
    width: 55px;
}



/* Bordes */
.rounded-1 {
    border-radius: 8px;
}
.rounded-2 {
    border-radius: 50px;
}
.rounded-top {
    border-radius: 8px 8px 0 0;
}
.rounded-bottom {
    border-radius: 0 0 8px 8px;
}


/* Color del background */
.border-blanco {
    border: var(--blanco) solid 2px;
}
.border-negro {
    border: var(--negro) solid 2px;
}
.border-gris-1 {
    border: var(--gris-1) solid 2px;
}
.border-gris-2 {
    border: var(--gris-2) solid 2px;
}
.border-gris-3 {
    border: var(--gris-3) solid 2px;
}
.border-gris-4 {
    border: var(--gris-4) solid 2px;
}
.border-verde {
    border: var(--verde) solid 2px;
}
.border-rojo {
    border: var(--rojo) solid 2px;
}
.border-celetes {
    border: var(--celeste) solid 2px;
}
.border-top-bottom{
    border-top: var(--celeste) solid 1px;
    border-bottom: var(--celeste) solid 1px;
}
.border-top{
    border-top: var(--celeste) solid 1px;
}


/* Padding&Margin */
.p-15 {
    padding: 15px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-t-15 {
    padding-top: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-b-15 {
    padding-bottom: 15px;
}
.p-10 {
    padding: 10px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-r-10 {
    padding-right: 10px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-5 {
    padding: 5px;
}
.p-l-5 {
    padding-left: 5px;
}
.p-t-5 {
    padding-top: 5px;
}
.p-r-5 {
    padding-right: 5px;
}
.p-b-5 {
    padding-bottom: 5px;
}
.m-15 {
    margin: 15px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-10 {
    margin: 10px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.margin-r-l{
    margin: 0 15px 0 15px;
}
.margin-t-b{
    margin: 15px 0 15px 0;
}
.padding-r-l{
    padding: 0 15px 0 15px;
}
.padding-t-b{
    padding: 15px 0 15px 0;
}

/* Línea  */
.line {
    height: 2px;
    width: 100%;
}

