/* Variable y más */
@import url(variables.css);
/* Clases basadas en bootstrap */
@import url(util.css);
/* Clases basadas en los átomos de figma */
@import url(atomos.css);

@import url(loading.css);
@import url(modal.css);
@import url(dropdown.css);



/* Navbar */
.navbar {
    flex-direction: row no-wrap;
    grid-template-columns: var(--grid-col);
    grid-template-areas: ". navbar-logo navbar-logo navbar-logo navbar-logo   navbar-logo . . navbar-menu navbar-menu navbar-menu  .";
    /* grid-template-areas: ". navbar-logo navbar-logo navbar-logo . . . . . navbar-menu navbar-menu ."; */
}
.navbar > div { 
    grid-area: navbar-logo;
}
.navbar div + div{ 
    grid-area: navbar-menu;
}

/* Login */
.steps-line {
    height: 2px;
}
.step {
    border-radius: 100%;
    height: 24px;
    width:  24px;
}
.container-login {
    grid-template-columns: var(--grid-col);
    grid-template-rows: 15px auto 15px;
    grid-template-areas: 
        " . . . . . . . . . . . . " 
        ". . . . login login login login . . . ." 
        " . . . . . . . . . . . . ";   
}
.container-login > div {
    grid-area: login;
}


/** Layer */
.layer {
    background: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: var(--game-width) auto !important; */
    top: 0px;
    transition: top 1s;
}
.layer-1 {
    background-size: calc(2898/1200px) auto !important;
    background: url("../img/printfoot.png");
    animation: scroll 50s  infinite linear;
    filter: opacity(30%);
}
.layer-2 {
    background-size: calc(2898/1200px) auto !important;
    background: url("../img/printfoot-2.png");
    filter: opacity(13%);
    animation: scroll 50s  infinite linear;
}
@keyframes scroll { 100% { background-position-x: -2898px; } }


/* Mensajes */
.container-messages {
    grid-template-columns: var(--grid-col);
    /* grid: template-ro2; */
    grid-template-rows: 15px 492px;
    grid-template-areas: 
        " . . . . . . . . . . . . " 
        ". message message message chat chat chat chat chat chat  chat ."
        " . . . . . . . . . . . . ";   
}
.container-messages div.messages {
    grid-area: message;
}
.container-messages div.chat {
    grid-area: chat;
}

.container-search-message{
    grid-template-rows: 20px auto;
}

/* Muro de Noticias*/
.container-inicio {
    grid-template-columns: var(--grid-col);
    /* grid: template-ro2; */
    grid-template-rows: 15px 80% 0;
    grid-template-areas: 
        ". . . . . . . . . . . ."
        ". container-posts container-posts container-posts container-posts container-posts container-posts container-posts friend-list friend-list friend-list ."
        ". . . . . . . . . . . .";   
}
.container-inicio div.container-posts {
    grid-area: container-posts;
}
.container-inicio div.friend-list {
    grid-area: friend-list;
}

/*Columna lista de amigos, publicidad y footer*/
.friend-list{
    display: grid;
    grid-template-rows: 300px 200px 200px;
    grid-template-areas: 
        "friends"
        "publicidad"
        "footer";
}
.friend-list div.friends {
    grid-area: friends;
}
.friend-list div.publicidad {
    grid-area: publicidad;
}
.friend-list div.footer {
    grid-area: footer;
}

/*Columna contenido*/
.container-posts{
    grid-template-rows: 30% auto auto;
    grid-template-areas: 
        "create-post"
        "posts";
}
.container-posts div.create-post {
    grid-area: create-post;
}
.container-posts div.posts {
    grid-area: posts;
}



/* Form select */    
select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* flex: 1; */
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
}
/* Transition */
select ~ .fa-chevron-down {
    display: block;
}
select ~ .fa-chevron-up {
    display: none;
}
select:focus ~ .fa-chevron-down {
    display: none;
}
select:focus ~ .fa-chevron-up {
    display: block;
}
  


/*Hover*/
.scroll > li:hover{
    background-color: var(--gris-2); /*ver que color ponerle porque no queda lindo*/
}
/* button.btn-post:hover{
    background-color: var(--gris-1);
}*/

/*Hover*/
.active{
    background-color: var(--celeste); /*ver que color ponerle porque no queda lindo*/
}

.active > div > div > p.font-color-gris-2{
    color: var(--blanco);
}


.container-busqueda {
    grid-template-columns: var(--grid-col);
    grid-template-rows: 15px auto 15px;
    grid-template-areas: 
        " . . . . . . . . . . . . " 
        ". filtro filtro filtro filtro filtro filtro filtro filtro filtro filtro ." 
        ". resultado resultado resultado resultado resultado resultado resultado resultado resultado resultado ." 
        " . . . . . . . . . . . . ";   
}

.filtros {
    grid-area: filtro;
}

.resultados {
    grid-area: resultado;
}
.search-filter {
    display: grid;
    grid-template-columns: 2fr 2fr 7fr 1fr;
    grid-template-areas: "field operator input add";
}
.search-filter div:nth-child(1) {
    grid-area: field;
    height: fit-content;
}


.search-filter div:nth-child(2) {
    grid-area: operator;
    height: fit-content;
}


.search-filter div:nth-child(3) {
    grid-area: input;
}

.search-filter div:nth-child(4) {
    grid-area: add;
}

.like{
    color: var(--celeste);
}

.contenido-publicacion p{
    line-height: 1.5;
    text-align: justify;
}

.container-ver-mas{
    position: relative;
    text-align: center;
}

.ver-mas{
    position: absolute;
    top: 100px;
    left: 177px;
    z-index: 20;
}

.notificaciones{
    width: 25%;
    position: absolute;
    right: 96px;
    top: 76px;
}

footer li{
    padding: 5px;
}

footer li:hover{
    text-decoration: underline;
    color: var(--negro);
}



.fade-in {
    animation: fadeIn 2s;
}
.fade-out {
    animation: fadeOut 2s forwards;
}

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
a:hover, 
.btn-ver-comentarios:hover, 
.respuestas-comentarios > div > div > div > button:hover, 
.comentarios-video > div > div > div > div > button:hover{
    text-decoration:underline;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--negro); 
    border-radius: 10px;
  }