/* Variable y más */
@import url(variables.css);
/* Clases basadas en bootstrap */
@import url(util.css);
/* Clases basadas en los átomos de figma */
@import url(atomos.css);



/* Navbar */
.navbar {
    flex-direction: row no-wrap;
    grid-template-columns: var(--grid-col);
    /* grid-template-areas: ". navbar-logo navbar-logo navbar-logo navbar-logo  . . . navbar-menu navbar-menu navbar-menu  ."; */
    grid-template-areas: ". navbar-logo navbar-logo navbar-logo . . . . . navbar-menu navbar-menu .";
}
.navbar > div { 
    grid-area: navbar-logo;
}
.navbar div + div{ 
    grid-area: navbar-menu;
}


/* Login */
.login-steps-step {
    border-radius: 100%;
    height: 45px;
    width:  45px;
}
.login-steps-step-pending {
    background-color: var(--gris-1);
}
.login-steps-step-prosecing {
    border:  var(--celeste) 3px solid;
    background-color: var(--blanco);
}
.login-steps-step-done {
    background-color: var(--celeste);
}
.login-steps-bar {
    width: 100%;
    height: 20px;
}

.login-steps-step-prosecing + .login-steps-step-pending + .login-steps-step-pending + .login-steps-load-bar >.login-steps-bar{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--celeste) 17%, var(--gris-1) 16%);
}

.login-steps-step-done + .login-steps-step-prosecing + .login-steps-step-pending + .login-steps-load-bar >.login-steps-bar {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--celeste) 50%, var(--gris-1) 51%);
}

.login-steps-step-done + .login-steps-step-done + .login-steps-step-prosecing + .login-steps-load-bar >.login-steps-bar  {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--celeste) 85%, var(--gris-1) 86%);
}

.container-login {
    grid-template-columns: var(--grid-col);
    grid-template-rows: 15px auto 15px;
    grid-template-areas: 
        " . . . . . . . . . . . . " 
        ". . . . login login login login . . . ." 
        " . . . . . . . . . . . . ";   
}
.container-login > div {
    grid-area: login;
}


/** Layer */
.layer {
    background: red;
    /* position: absolute; */
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: var(--game-width) auto !important; */
    top: 0px;
    transition: top 1s;
}
.layer-1 {
    background-size: calc(2898/1200px) auto !important;
    background: url("../img/printfoot.png");
    animation: scroll 50s  infinite linear;
}
@keyframes scroll { 100% { background-position-x: -2898px; } }
/* Mensajes */
.container-messages {
    grid-template-columns: var(--grid-col);
    /* grid: template-ro2; */
    grid-template-rows: 15px 73% 0;
    grid-template-areas: 
        " . . . . . . . . . . . . " 
        ". message message message chat chat chat chat chat chat  chat ."
        " . . . . . . . . . . . . ";   
}
.container-messages div.messages {
    grid-area: message;
}
.container-messages div.chat {
    grid-area: chat;
}

.container-search-message{
    grid-template-rows: 20px auto;
}


/* Muro de Noticias*/
.container-inicio {
    grid-template-columns: var(--grid-col);
    /* grid: template-ro2; */
    grid-template-rows: 15px 80% 0;
    grid-template-areas: 
        ". . . . . . . . . . . ."
        ". container-posts container-posts container-posts container-posts container-posts container-posts container-posts friend-list friend-list friend-list ."
        ". . . . . . . . . . . .";   
}
.container-inicio div.container-posts {
    grid-area: container-posts;
}
.container-inicio div.friend-list {
    grid-area: friend-list;
}

/*Columna lista de amigos, publicidad y footer*/
.friend-list{
    grid-template-rows: 30% auto auto;
    grid-template-areas: 
        "friends"
        "publicidad"
        "footer";
}
.friend-list div.friends {
    grid-area: friends;
}
.friend-list div.publicidad {
    grid-area: publicidad;
}
.friend-list div.footer {
    grid-area: footer;
}

/*Columna contenido*/
.container-posts{
    grid-template-rows: 30% auto auto;
    grid-template-areas: 
        "create-post"
        "posts";
}
.container-posts div.create-post {
    grid-area: create-post;
}
.container-posts div.posts {
    grid-area: posts;
}


/*Hover*/
.scroll > li:hover{
    background-color: var(--gris-2); /*ver que color ponerle porque no queda lindo*/
}
/* button.btn-post:hover{
    background-color: var(--gris-1);
}*/

/*Hover*/
.active{
    background-color: var(--celeste); /*ver que color ponerle porque no queda lindo*/
}

.active > div > div > p.font-color-gris-2{
    color: var(--blanco);
}

.like{
    color: var(--celeste);
}

.contenido-publicacion p{
    line-height: 1.5;
    text-align: justify;
}

.container-ver-mas{
    position: relative;
    text-align: center;
}

.ver-mas{
    position: absolute;
    top: 100px;
    left: 177px;
    z-index: 20;
}