/* Variable y más */
@import url(variables.css);
/* Clases basadas en bootstrap */
@import url(util.css);
/* Clases basadas en los átomos de figma */
@import url(atomos.css);



/* Navbar */
.navbar {
    flex-direction: row no-wrap;
    grid-template-columns: var(--grid-col);
    grid-template-areas: ". navbar-logo navbar-logo navbar-logo navbar-logo  . . . navbar-menu navbar-menu navbar-menu  .";
}
.navbar > div { 
    grid-area: navbar-logo;
}
.navbar div + div{ 
    grid-area: navbar-menu;
}



/* Login */
.login-steps-step {
    border-radius: 100%;
    height: 65px;
    width: 65px;
}

.login-steps-step-pending {
    background-color: var(--gris-1);
}

.login-steps-step-prosecing {
    border:  var(--celeste) 3px solid;
    background-color: var(--blanco);
}

.login-steps-step-done {
    background-color: var(--celeste);
}

.login-steps-bar {
    background-color: var(--celeste);
    width: 100%;
    height: 20px;
}

.container-login {
    grid-template-columns: var(--grid-col);
    /* grid: template-ro2; */
    grid-template-rows: 15px auto 100px;
    grid-template-areas: 
        " . . . . . . . . . . . . " 
        ". . login login login login login login login login . ." 
        " . . . . . . . . . . . . ";   
}

.container-login > div {
    grid-area: login;
}