/* Flex */
.d-flex {
    display: flex;
}
.flex-row {
    flex-flow: row nowrap;
}
.flex-col {
    flex-flow: column nowrap;
}
.direction-col{
    flex-direction: column;
}
.direction-row{
    flex-direction: row;
}
.flex-wrap {
    flex-flow: wrap;
}
.align-items-center {
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}    
.justify-content-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.flex-basis-max-content {
    flex-basis: max-content;
}
.flex-wrap {
    flex-wrap:wrap;
}

/*Texto*/
.text-align-justify{
    text-align: justify;
}
.interlineado{
    line-height: 1.5;
}
.bold{
    font-weight: bold;
}

/* Grid */
.d-grid {
    display: grid;
}
.col-12 {
    grid-template-columns: var(--grid-col);
}



/* Posiciones */
.position-absolute {
    position: absolute;
}
.position-end {
    right: 0;
}
.position-relative {
    position: relative;
}
.top-start {
    top: 25%;
}
.top-25 {
    top: 25%;
}
.top-50 {
    top: 50%;
}
.top-10 {
    top: 9%;
}
.bottom-0 {
    bottom: 0px;
}

.bottomn-10 {
    bottom: -45px;
}



/* Width&&height */
.h-100 {
    height: 100%;
}
.h-75 {
    height: 75%;
}
.h-50 {
    height: 50%;
}
.h-25 {
    height: 25%;
}
.w-100 {
    width: 100%;
}
.w-80 {
    width: 80%;
}
.w-85 {
    width: 85%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-45{
    width: 45%;
}
.w-25{
    width: 25%;
}


/* Sombras */
.shadow {
    box-shadow: 0px 0px  8px -0px rgb(95, 95, 95);
}


/* z-index */
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}

/* scroll*/
.scroll{
    overflow: auto;
}

.display{
    display: none;
}

.hidden{
    visibility: hidden;
}
.text-no-wrap {
    white-space: nowrap;
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    overflow: hidden;
}

.overflow-y{
    overflow-y: hidden;
}

/* Micelaneo */
.d-none {
    display: none!important;
} 
.oscurecer{
    /* filter: blur(2px); */
    filter: brightness(50%)
}
