/* Variables */
:root {
    --blanco  : #ffffff;
    --negro  : #333333;
    --gris-1 : #DBDBDB; /** Fondo de la página*/
    --gris-2 : #c5c5c5; /** Fondo de cualquier cosa*/
    --gris-3 : #595959; /** Letras grises */
    --rojo   : #FF6B6B;
    --verde  : #80ED99;
    /* --celeste: #9d4edd;  */
    --celeste: #5DB8FA; 
    --grid-col: repeat(12, 1fr);
}



/* Global */
* {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* body{
    height: 600px;
}
 */
/* body{
    overflow-y: hidden;
} */
input, button, button[type="submit"] {
  border:none;
}
button{
    cursor: pointer;
    background-color: transparent;
}
input:focus {
    outline:none;
}
a {
    color: inherit;
    text-decoration: inherit;
}

header a, .link-noticia a{
    color: inherit;
    text-decoration: inherit;
}