
@media (min-width:200px) {  
    :root {
        --game-scale: 0.5;
    }
 }
@media (min-width:481px) {  
    :root {
        --game-scale: 1;
    }
 }
@media (min-width:641px) {  
    :root {
        --game-scale: 1.2;
    }
 }
@media (min-width:961px) {  
    :root {
        --game-scale: 1.3;
    }
 }
@media (min-width:1025px) {  
    :root {
        --game-scale: 1.4;
    }
 }
 html, body {
     height: 100%;
 }
 :root {
    /** Game vars*/
    --game-tile-size: calc(16 * var(--game-scale));
    --game-dist-speed: calc(16 * var(--game-scale));
    --game-time-speed: 0.09;
    --game-width: calc(var(--game-tile-size) * 40px);
    --game-height: calc(var(--game-tile-size) * 25px);
    --game-right-edge: calc(var(--game-tile-size) * 40);
    --game-left-edge: -100;
    --game-bottom-edge: var(--game-tile-size);
    --game-total-time: calc(var(--game-right-edge) * (var(--game-time-speed) / var(--game-dist-speed)));
    --entity-width:  calc(var(--game-tile-size) * 1px);
    --entity-height: calc(var(--game-tile-size) * 1px);
    --animation-play-state: running;
}
* {
    margin: 0;
    padding: 0;
    background: rgb(129, 129, 129);
    font-family: 'Press Start 2P', cursive;
}

.game-container {
    width: 100%;
    height: 100%;
    background: rgb(129, 129, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.game {
    background: rgb(255, 255, 255);
    width: var(--game-width);
    height: var(--game-height);
    position: relative;
    overflow: hidden;
    transform: scale(1, -1);
}
.game-container-menu {
    z-index: 3;
    width: var(--game-width);
    height: var(--game-height);
    position: absolute;
    background: transparent;
}

.game-character-container .entity.player {
    transform: scale(1, 1);
    background-image: var(--entity-background-image);
    animation: var(--entity-spreadsheet-animation);
    position: relative;
    top: calc(var(--game-tile-size) * -0.9px);
    left: 0px;
}

a, a:hover, button {
    color: white;
    border: none;
}

.btn-game {
    text-decoration: none;
    cursor: pointer;
    font-size: calc(var(--game-tile-size) * 2px);
    padding: calc(var(--game-tile-size) * 1px) calc(var(--game-tile-size) * 3px);
    color: white;
    border-radius: 6px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    transform: translateY(-9px);
}
.btn-game.btn-game-start {
    font-size: calc(var(--game-tile-size) * 4px);
    padding: calc(var(--game-tile-size) * 1px) calc(var(--game-tile-size) * 6px);
}
.btn-game.active, .btn-game.red:not(.disabled):focus {
    transform: translateY(0px);
    color: white;
}
.btn-game.red.disabled {    
    background-color: rgb(231, 231, 231);
    box-shadow: 
        0 0 0 1px rgb(198, 192, 192) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgb(198, 198, 198),
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-game.red,.btn-game.red:not(.disabled) {
    background-color: rgb(231, 60, 60);
    box-shadow: 
        0 0 0 1px rgb(198, 2, 2) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgb(198, 64, 64),
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-game.yellow {
    background-color: rgb(231, 205, 60);
    box-shadow: 
        0 0 0 1px rgb(198, 185, 2) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgb(198, 184, 64),
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-game.green {
    background-color: rgb(94, 231, 60);
    box-shadow: 
        0 0 0 1px rgb(2, 198, 2) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgb(64, 198, 2),
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-game.blue {
    background-color: rgb(60, 231, 198);
    box-shadow: 
        0 0 0 1px rgb(2, 198, 198) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgb(64, 198, 198),
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-game.pink {
    background-color: rgb(231, 60, 198);
    box-shadow: 
        0 0 0 1px rgb(198, 2, 198) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgb(198, 64, 198),
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-game.red:not(.disabled):focus {
    box-shadow:
        0 0 0 1px rgb(198, 2, 2) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.btn-game.yellow.active   {
    box-shadow:
        0 0 0 1px rgb(198, 185, 2) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.btn-game.green.active   {
    box-shadow:
        0 0 0 1px rgb(2, 198, 2) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.btn-game.blue.active   {
    box-shadow:
        0 0 0 1px rgb(2, 198, 198) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.btn-game.pink.active   {
    box-shadow:
        0 0 0 1px rgb(198, 2, 198) inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
  
.btn-game-circle {
    border-radius: 100%;
    padding: calc(var(--game-tile-size) * 0.05px) calc(var(--game-tile-size) * 0.5px);
}


/** Layer */
.layer {
    background: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transform:  scale(1, -1);
    background-size: var(--game-width) auto !important; /* :D */
    background-position-y: 100px;
    filter: contrast(110%) brightness(0.9);
    top: 0px;
    transition: top 1s;
}
.layer-1 {
    background: url("../img/Background/layer-1.png");
    animation: scroll calc(var(--game-total-time) * 4s)  infinite linear;
    background-position-y: calc(calc(-20px / 16) * var(--game-tile-size));
}
.layer-2 {
    background: url("../img/Background/layer-2.png");
    animation: scroll calc(var(--game-total-time) * 5s)  infinite linear;
    background-position-y: calc(calc(-20px / 16) * var(--game-tile-size));
}
.layer-3 {
    background: url("../img/Background/layer-3.png");
    animation: scroll calc(var(--game-total-time) * 3s)  infinite linear;
    background-position-y: calc(calc(-20px / 16) * var(--game-tile-size));
}
.layer-4 {
    background: url("../img/Background/layer-4.png");
    animation: scroll calc(var(--game-total-time) * 2s)  infinite linear;
    background-position-y: calc(calc(-20px / 16) * var(--game-tile-size));
}
.layer-5 {
    background: url("../img/Background/layer-5.png");
    animation: scroll calc(var(--game-total-time) * 1.5s)  infinite linear;
    background-position-y: calc(calc(-20px / 16) * var(--game-tile-size));
}
.layer-6 {
    background: url("../img/Background/layer-6.png");
    animation: scroll calc(var(--game-total-time) * 1s)  infinite linear;
    background-position-y: calc(var(--game-bottom-edge) * -0.6px);
}

@keyframes scroll { 100% { background-position-x: calc(var(--game-width) * -1); } }

.layer-4.hide, .layer-5.hide, .layer-6.hide, .entity.player.hide, .hide {
    top: calc(var(--game-height) * -1);
}
.game-container-menu div{
    top:0px;
    transition: top 2s;

}
.game-container-menu.hide-up {
    top: calc(var(--game-height) * -1);
    transition: top 2s;
}


.menu.entity.player.virtualguy, .menu.entity.player.idle.virtualguy {
    position: relative;
    top: 0px;
    left: 0px;
    transform: scale(1, 1);
}

/** Entities */
.entity {
    position: absolute; 
    width:  var(--entity-width);
    height: var(--entity-height);
    top:    calc(var(--game-bottom-edge) * 1px);
    left:   calc(var(--game-right-edge)  * 1px);
    transform: scale(1, -1);
    background-image: var(--entity-image, none);
    filter: contrast(150%) ;
    background-size: cover;    
    transition: top 2s;   
}


.player-counter {
    background: transparent;
    position: absolute;
    left: calc(var(--game-tile-size) * 1px);
    bottom: calc(var(--game-tile-size) * 1px);
    height: calc(var(--game-tile-size) * 2px);
    width:  calc(var(--game-tile-size) * 4px);
    display: flex;
    flex-direction: row;
    transition: top 2s;   
}

.player-counter+.player-counter {
    bottom: calc(var(--game-tile-size) * 3px);
}

.player-counter.coin > div:first-child {
    background-color: transparent;
    background-image: url("../img/Icon/Coin (16 x 16).png");
    background-size: cover;
    z-index: 20;
    width: 50%;
    height: 100%;
}

.player-counter.life > div:first-child {
    background-color: transparent;
    background-image: url("../img/Icon/Harth16 x 16).png");
    background-size: cover;
    z-index: 20;
    width: 50%;
    height: 100%;
    transform: scale(1, -1);
}
.player-counter > div:last-child {
    background-color: transparent;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: calc(var(--game-tile-size) * 0.4px);;
    font-size:  calc(var(--game-tile-size) * 1px);
    transform: scale(1, -1);
}

/** Player */


.entity.player,.player {        
    --entity-width:  calc(var(--game-tile-size) * 2px);
    --entity-height: calc(var(--game-tile-size) * 2px);
    background-color: transparent;
    left:   calc(var(--game-bottom-edge) * 1px);
    --entity-motion-animation: none;
    --entity-spreadsheet-animation: none;
    --entity-background-image: none;
    background-image: var(--entity-background-image);
    animation: var(--entity-spreadsheet-animation), var(--entity-motion-animation);
}



/* Player general animation settings */
.entity.player.idle{
    --entity-spreadsheet-animation: player-idle-displace-spreadsheet  0.5s steps(11) infinite;
}
.entity.player.walk {
    --entity-spreadsheet-animation: player-walk-displace-spreadsheet  0.5s steps(12) infinite;
}
.entity.player.jump {
    --entity-spreadsheet-animation: player-jump-displace-spreadsheet  1s steps(2) infinite;
    --entity-motion-animation: player-jump 1s cubic-bezier( 0, 0, 1, 1 ) var(--animation-play-state);
}
.entity.player.jump.doublejump, 
.entity.player.doublejump  {
    --player-current-y: 0;
    --entity-spreadsheet-animation: player-doublejump-displace-spreadsheet 0.25s steps(6) infinite;
    --entity-motion-animation: player-doublejump 1s cubic-bezier( 0, 0, 1, 1 ) var(--animation-play-state);
}
.entity.player.hitted, .player.jump.player.hitted  {
    --entity-spreadsheet-animation: player-hitted-displace-spreadsheet  1s steps(7) 0s infinite;
}
.entity.player.die  {
    --entity-spreadsheet-animation: player-hitted-displace-spreadsheet  1s steps(7) 0s infinite;
    --entity-motion-animation: player-die 3s linear 0s forwards var(--animation-play-state);
}



/* Player backgrounds */

/* Player: Mask Dude */
.entity.player.idle.maskdude {
    --entity-background-image: url("../img/Main Characters/Mask Dude/Idle (32x32).png");
}
.entity.player.walk.maskdude {
    --entity-background-image: url("../img/Main Characters/Mask Dude/Run (32x32).png");
}
.entity.player.jump.maskdude {
    --entity-background-image: url("../img/Main Characters/Mask Dude/Jump (32x32).png");
}
.entity.player.jump.doublejump.maskdude, 
.entity.player.doublejump.maskdude  {
    --entity-background-image: url("../img/Main Characters/Mask Dude/Double Jump (32x32).png");
}
.entity.player.hitted.maskdude, .player.jump.hitted.maskdude  {
    --entity-background-image: url("../img/Main Characters/Mask Dude/Hit (32x32).png");
}
.entity.player.die.maskdude  {
    --entity-background-image: url("../img/Main Characters/Mask Dude/Hit (32x32).png");
}

/* Player: Ninja frog */
.entity.player.idle.ninjafrog {
    --entity-background-image: url("../img/Main Characters/Ninja Frog/Idle (32x32).png");
}
.entity.player.walk.ninjafrog {
    --entity-background-image: url("../img/Main Characters/Ninja Frog/Run (32x32).png");
}
.entity.player.jump.ninjafrog {
    --entity-background-image: url("../img/Main Characters/Ninja Frog/Jump (32x32).png");
}
.entity.player.jump.doublejump.ninjafrog, 
.entity.player.doublejump.ninjafrog  {
    --entity-background-image: url("../img/Main Characters/Ninja Frog/Double Jump (32x32).png");
}
.entity.player.hitted.ninjafrog, .player.jump.player.hitted.ninjafrog  {
    --entity-background-image: url("../img/Main Characters/Ninja Frog/Hit (32x32).png");
}
.entity.player.die.ninjafrog  {
    --entity-background-image: url("../img/Main Characters/Ninja Frog/Hit (32x32).png");
}

/* Player: Pink Man */
.entity.player.die.pinkman  {
    --entity-background-image: url("../img/Main Characters/Pink Man/Hit (32x32).png");
}
.entity.player.idle.pinkman {
    --entity-background-image: url("../img/Main Characters/Pink Man/Idle (32x32).png");
}
.entity.player.walk.pinkman {
    --entity-background-image: url("../img/Main Characters/Pink Man/Run (32x32).png");
}
.entity.player.jump.pinkman {
    --entity-background-image: url("../img/Main Characters/Pink Man/Jump (32x32).png");
}
.entity.player.jump.doublejump.pinkman, 
.entity.player.doublejump.pinkman  {
    --entity-background-image: url("../img/Main Characters/Pink Man/Double Jump (32x32).png");
}
.entity.player.hitted.pinkman, .player.jump.player.hitted.pinkman  {
    --entity-background-image: url("../img/Main Characters/Pink Man/Hit (32x32).png");
}
.entity.player.die.pinkman  {
    --entity-background-image: url("../img/Main Characters/Pink Man/Hit (32x32).png");
}


/* Player: Virtual Guy */
.entity.player.die.virtualguy  {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Hit (32x32).png");
}
.entity.player.idle.virtualguy {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Idle (32x32).png");
}
.entity.player.walk.virtualguy {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Run (32x32).png");
}
.entity.player.jump.virtualguy {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Jump (32x32).png");
}
.entity.player.jump.doublejump.virtualguy, 
.entity.player.doublejump.virtualguy  {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Double Jump (32x32).png");
}
.entity.player.hitted.virtualguy, .player.jump.player.hitted.virtualguy  {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Hit (32x32).png");
}
.entity.player.die.virtualguy  {
    --entity-background-image: url("../img/Main Characters/Virtual Guy/Hit (32x32).png");
}










.entity.colectionable, .entity.enemy {
    --entity-move-left: move-left calc(var(--game-total-time) * 1s) linear 0s forwards;
}



/** Colectionables */
.colectionable {
    background: rgb(255, 207, 51);
    border-radius: 100%;
    background-image: var(--entity-image, none);
    width:  var(--entity-width);
    height: var(--entity-height);
}
.colectionable.fruit {
    background-color: transparent;
    border-radius: 0px;
    background-size: cover;
    animation: colectionable-fruit-displace-spreadsheet 1s steps(17) infinite,  var(--entity-move-left);
}
.colectionable.fruit.apple {
    background-image: url("../img/Items/Fruits/Apple.png");
}
.colectionable.fruit.banana {
    background-image: url("../img/Items/Fruits/Bananas.png");
}
.colectionable.fruit.cherries {
    background-image: url("../img/Items/Fruits/Cherries.png");
}
.colectionable.fruit.kiwi {
    background-image: url("../img/Items/Fruits/Kiwi.png");
}
.colectionable.fruit.melon {
    background-image: url("../img/Items/Fruits/Melon.png");
}
.colectionable.fruit.orange {
    background-image: url("../img/Items/Fruits/Orange.png");
}
.colectionable.fruit.pineapple {
    background-image: url("../img/Items/Fruits/Pineapple.png");
}
.colectionable.fruit.strawberry {
    background-image: url("../img/Items/Fruits/Strawberry.png");
}
.colectionable.fruit.collected {
    background-image: url("../img/Items/Fruits/Collected.png");
}





/** Obstacles or enemies*/
.obstacle {
    background: red;
}
.obstacle.enemy {
    background: transparent;
    background-image: var(--entity-image, none);
    --entity-width:  calc(var(--game-tile-size) * calc(40/16) * 1px);
    --entity-height: calc(var(--game-tile-size) * calc(30/16) * 1px);
    width:  var(--entity-width)  ;
    height: var(--entity-height) ;
    background-size: cover;
    animation: enemy-walk-displace-spreadsheet  1s steps(10) infinite, var(--entity-move-left);
}
.obstacle.enemy.slime {
    background-image: url("../img/Enemies/Slime/Idle-Run (44x30).png");
} 
  
/* Spreadsheet Key frameke animation */
@keyframes enemy-walk-displace-spreadsheet          { 100% { background-position: calc(-440px * var(--game-scale)); } } 
@keyframes player-jump-displace-spreadsheet         { 100% { background-position: calc( -64px * var(--game-scale)); } } 
@keyframes player-idle-displace-spreadsheet         { 100% { background-position: calc(-352px * var(--game-scale)); } } 
@keyframes player-walk-displace-spreadsheet         { 100% { background-position: calc(-384px * var(--game-scale)); } }
@keyframes player-hitted-displace-spreadsheet       { 100% { background-position: calc(-224px * var(--game-scale)); } }
@keyframes player-doublejump-displace-spreadsheet   { 100% { background-position: calc(-192px * var(--game-scale)); } }
@keyframes colectionable-fruit-displace-spreadsheet { 100% { background-position: calc(-544px * var(--game-scale)); } }

/* Motion Key frameke animation */
@keyframes player-jump {
    0%, 100% { top: calc(var(--game-bottom-edge) * 1px +  0px);}
         50% { top: calc(var(--game-bottom-edge) * 1px + var(--game-tile-size) * 4px); }
}

@keyframes player-die {
      0% {z-index: 10;}
     10% { top: calc(var(--game-bottom-edge) * 1px +   var(--game-tile-size) * 4px ); rotate: 90deg;}
     80% { top: calc(var(--game-bottom-edge) * 1px +   var(--game-tile-size) * 4px ); rotate: 90deg;}
    100% { top: -100px; rotate: 360deg;}
}

@keyframes player-doublejump {
      0% { top: calc(var(--player-current-y) * 1px +  0px);}
     50% { top: calc(var(--player-current-y) * 1px + var(--game-tile-size) * 4px); }
    100% { top: calc(var(--game-bottom-edge) * 1px +  0px); }
}

@keyframes move-left {
      0% { left:  calc(var(--game-right-edge) * 1px + var(--entity-width)); }
    100% { left: calc(-1 * var(--entity-width)); }
}
