*{
    margin: 0;
    padding: 0;
    --main-color-strong: red;
    --main-color-smooth: red;
    --secondary-color-strong: red;
    --secondary-color-smooth: red;
    --background: red;
}

html {
    width: 100%;
    height: 100%;
}
